@import url(../assets/fonts/SpaceMono.css);

:root {
    --col-dark-denim: #172554;
    --col-denim-light: #f1f5f9;

    --col-text: var(--col-denim-light);
    --col-background: var(--col-dark-denim);

    --font-size: 18px;

    color: var(--col-text);
    background-color: var(--col-background);

    font-family: SpaceMono;
    font-size: var(--font-size);
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0;

    margin: 0 auto;
    margin-top: 50px;
    width: 100vw;
    max-width: 700px;
    padding: 0 20px;
}

footer {
    --font-size: 12px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: var(--font-size);
}

.spacer {
    min-width: var(--font-size);
    min-height: var(--font-size);
}

h1 {
    font-size: 32px;
    font-weight: bold;
}